{% extends 'base.html' %}

{% block title %}
<title>Candidate Contributions</title>
{% endblock%}


{% block content %}
<a href="/">Go Back</a>
<br>
<a href="/candidate_summary">See Candidate Contributions</a>
<br>
<a href="/expenditures">Independent Expenditures</a>
<br>
<div class="container">
    <br>
    <h1>Open Secrets Political Spending API</h1>
    <h1>California Candidate Contributions</h1>
    <h3>{{ contributor_attributes.cand_name }}</h3>
    <h6>Candidate ID: {{ contributor_attributes.cid }}</h6>
    <h6>Election Year: {{ contributor_attributes.cycle }}</h6>
    <h6>Donation Origins: {{ contributor_attributes.origin }}</h6>
    <h6>Donation Notice: {{ contributor_attributes.notice }}</h6>
    <h6>Donation Source: <a href="{{contributor_attributes.source}}">{{contributor_attributes.source}}</a></h6>
    <br>
    <h1>Donors For Nancy Pelosi </h1>
    {% for donor in donors_array %}
            <h3>{{ donor.org_name }}</h3>
            <h6>Total Individual Contributions: {{ donor.indivs }}</h6>
            <h6>Total Donations: {{ donor.total }}</h6>
            <h6>Total PAC Contributions: {{ donor.pacs }}</h6>
            <br>
    {% endfor %}
</div>
{% endblock %}