{% extends 'base.html' %}

{% block title %}
<title>Home</title>
{% endblock%}


{% block content %}
<a href="/candidate_summary">Candidate Summary</a>
<div class="container">
    <h1>Open Secrets Political Spending API</h1>
    <h2>California Legislators</h2>
    <!--{% for key, value in legs.iteritems %}
        <h6>{{value.firstlast}}</h6>
        <h6>Party: {{value.party}}</h6>
        <h6>Gender: {{value.gender}}</h6>
        <h6>First Elected: {{value.first_elected}}</h6>
        <h6>Website: {{value.website}}</h6>
        <h6>Contact: {{value.webform}}</h6>
        <h6>Office: {{value.congress_office}}</h6>
        <h6>Phone: {{value.phone}}</h6>
        <h6>Fax: {{value.fax}}</h6>
        <h6>Twitter: @{{value.twitter_id}}</h6>
        <h6>Facebook: http://www.facebook.com/{{value.facebook_id}}</h6>
        <h6>Youtube URL: {{value.youtube_url}}</h6>
        <h6>Bioguide ID: {{value.bioguide_id}}</h6>
        <h6>Votesmart ID: {{value.votesmart_id}}</h6>
    {% endfor %}-->
    <!--<br>-->
   {% for key, value in legislators_array.1.0.iteritems %}
        <h6>{{value.firstlast}}</h6>
        <h6>Party: {{value.party}}</h6>
        <h6>Gender: {{value.gender}}</h6>
        <h6>First Elected: {{value.first_elected}}</h6>
        <h6>Website: {{value.website}}</h6>
        <h6>Contact: {{value.webform}}</h6>
        <h6>Office: {{value.congress_office}}</h6>
        <h6>Phone: {{value.phone}}</h6>
        <h6>Fax: {{value.fax}}</h6>
        <h6>Twitter: @{{value.twitter_id}}</h6>
        <h6>Facebook: http://www.facebook.com/{{value.facebook_id}}</h6>
        <h6>Youtube URL: {{value.youtube_url}}</h6>
        <h6>Bioguide ID: {{value.bioguide_id}}</h6>
        <h6>Votesmart ID: {{value.votesmart_id}}</h6>
    {% endfor %}
    <br>
    {% for key, value in legislators_array.1.1.iteritems %}
        <h6>{{value.firstlast}}</h6>
        <h6>Party: {{value.party}}</h6>
        <h6>Gender: {{value.gender}}</h6>
        <h6>First Elected: {{value.first_elected}}</h6>
        <h6>Website: {{value.website}}</h6>
        <h6>Contact: {{value.webform}}</h6>
        <h6>Office: {{value.congress_office}}</h6>
        <h6>Phone: {{value.phone}}</h6>
        <h6>Fax: {{value.fax}}</h6>
        <h6>Twitter: @{{value.twitter_id}}</h6>
        <h6>Facebook: http://www.facebook.com/{{value.facebook_id}}</h6>
        <h6>Youtube URL: {{value.youtube_url}}</h6>
        <h6>Bioguide ID: {{value.bioguide_id}}</h6>
        <h6>Votesmart ID: {{value.votesmart_id}}</h6>
    {% endfor %}
    <br>
    {% for key, value in legislators_array.1.2.iteritems %}
        <h6>{{value.firstlast}}</h6>
        <h6>Party: {{value.party}}</h6>
        <h6>Gender: {{value.gender}}</h6>
        <h6>First Elected: {{value.first_elected}}</h6>
        <h6>Website: {{value.website}}</h6>
        <h6>Contact: {{value.webform}}</h6>
        <h6>Office: {{value.congress_office}}</h6>
        <h6>Phone: {{value.phone}}</h6>
        <h6>Fax: {{value.fax}}</h6>
        <h6>Twitter: @{{value.twitter_id}}</h6>
        <h6>Facebook: http://www.facebook.com/{{value.facebook_id}}</h6>
        <h6>Youtube URL: {{value.youtube_url}}</h6>
        <h6>Bioguide ID: {{value.bioguide_id}}</h6>
        <h6>Votesmart ID: {{value.votesmart_id}}</h6>
    {% endfor %}
    <br>
    {% for key, value in legislators_array.1.3.iteritems %}
        <h6>{{value.firstlast}}</h6>
        <h6>Party: {{value.party}}</h6>
        <h6>Gender: {{value.gender}}</h6>
        <h6>First Elected: {{value.first_elected}}</h6>
        <h6>Website: {{value.website}}</h6>
        <h6>Contact: {{value.webform}}</h6>
        <h6>Office: {{value.congress_office}}</h6>
        <h6>Phone: {{value.phone}}</h6>
        <h6>Fax: {{value.fax}}</h6>
        <h6>Twitter: @{{value.twitter_id}}</h6>
        <h6>Facebook: http://www.facebook.com/{{value.facebook_id}}</h6>
        <h6>Youtube URL: {{value.youtube_url}}</h6>
        <h6>Bioguide ID: {{value.bioguide_id}}</h6>
        <h6>Votesmart ID: {{value.votesmart_id}}</h6>
    {% endfor %}
    <br>
    {% for key, value in legislators_array.1.4.iteritems %}
        <h6>{{value.firstlast}}</h6>
        <h6>Party: {{value.party}}</h6>
        <h6>Gender: {{value.gender}}</h6>
        <h6>First Elected: {{value.first_elected}}</h6>
        <h6>Website: {{value.website}}</h6>
        <h6>Contact: {{value.webform}}</h6>
        <h6>Office: {{value.congress_office}}</h6>
        <h6>Phone: {{value.phone}}</h6>
        <h6>Fax: {{value.fax}}</h6>
        <h6>Twitter: @{{value.twitter_id}}</h6>
        <h6>Facebook: http://www.facebook.com/{{value.facebook_id}}</h6>
        <h6>Youtube URL: {{value.youtube_url}}</h6>
        <h6>Bioguide ID: {{value.bioguide_id}}</h6>
        <h6>Votesmart ID: {{value.votesmart_id}}</h6>
    {% endfor %}
    <br>
    {% for key, value in legislators_array.1.5.iteritems %}
        <h6>{{value.firstlast}}</h6>
        <h6>Party: {{value.party}}</h6>
        <h6>Gender: {{value.gender}}</h6>
        <h6>First Elected: {{value.first_elected}}</h6>
        <h6>Website: {{value.website}}</h6>
        <h6>Contact: {{value.webform}}</h6>
        <h6>Office: {{value.congress_office}}</h6>
        <h6>Phone: {{value.phone}}</h6>
        <h6>Fax: {{value.fax}}</h6>
        <h6>Twitter: @{{value.twitter_id}}</h6>
        <h6>Facebook: http://www.facebook.com/{{value.facebook_id}}</h6>
        <h6>Youtube URL: {{value.youtube_url}}</h6>
        <h6>Bioguide ID: {{value.bioguide_id}}</h6>
        <h6>Votesmart ID: {{value.votesmart_id}}</h6>
    {% endfor %}
    <br>
    {% for key, value in legislators_array.1.6.iteritems %}
        <h6>{{value.firstlast}}</h6>
        <h6>Party: {{value.party}}</h6>
        <h6>Gender: {{value.gender}}</h6>
        <h6>First Elected: {{value.first_elected}}</h6>
        <h6>Website: {{value.website}}</h6>
        <h6>Contact: {{value.webform}}</h6>
        <h6>Office: {{value.congress_office}}</h6>
        <h6>Phone: {{value.phone}}</h6>
        <h6>Fax: {{value.fax}}</h6>
        <h6>Twitter: @{{value.twitter_id}}</h6>
        <h6>Facebook: http://www.facebook.com/{{value.facebook_id}}</h6>
        <h6>Youtube URL: {{value.youtube_url}}</h6>
        <h6>Bioguide ID: {{value.bioguide_id}}</h6>
        <h6>Votesmart ID: {{value.votesmart_id}}</h6>
    {% endfor %}
    <br>
    {% for key, value in legislators_array.1.7.iteritems %}
        <h6>{{value.firstlast}}</h6>
        <h6>Party: {{value.party}}</h6>
        <h6>Gender: {{value.gender}}</h6>
        <h6>First Elected: {{value.first_elected}}</h6>
        <h6>Website: {{value.website}}</h6>
        <h6>Contact: {{value.webform}}</h6>
        <h6>Office: {{value.congress_office}}</h6>
        <h6>Phone: {{value.phone}}</h6>
        <h6>Fax: {{value.fax}}</h6>
        <h6>Twitter: @{{value.twitter_id}}</h6>
        <h6>Facebook: http://www.facebook.com/{{value.facebook_id}}</h6>
        <h6>Youtube URL: {{value.youtube_url}}</h6>
        <h6>Bioguide ID: {{value.bioguide_id}}</h6>
        <h6>Votesmart ID: {{value.votesmart_id}}</h6>
    {% endfor %}
    <br>
    {% for key, value in legislators_array.1.8.iteritems %}
        <h6>{{value.firstlast}}</h6>
        <h6>Party: {{value.party}}</h6>
        <h6>Gender: {{value.gender}}</h6>
        <h6>First Elected: {{value.first_elected}}</h6>
        <h6>Website: {{value.website}}</h6>
        <h6>Contact: {{value.webform}}</h6>
        <h6>Office: {{value.congress_office}}</h6>
        <h6>Phone: {{value.phone}}</h6>
        <h6>Fax: {{value.fax}}</h6>
        <h6>Twitter: @{{value.twitter_id}}</h6>
        <h6>Facebook: http://www.facebook.com/{{value.facebook_id}}</h6>
        <h6>Youtube URL: {{value.youtube_url}}</h6>
        <h6>Bioguide ID: {{value.bioguide_id}}</h6>
        <h6>Votesmart ID: {{value.votesmart_id}}</h6>
    {% endfor %}
    <br>
    {% for key, value in legislators_array.1.9.iteritems %}
        <h6>{{value.firstlast}}</h6>
        <h6>Party: {{value.party}}</h6>
        <h6>Gender: {{value.gender}}</h6>
        <h6>First Elected: {{value.first_elected}}</h6>
        <h6>Website: {{value.website}}</h6>
        <h6>Contact: {{value.webform}}</h6>
        <h6>Office: {{value.congress_office}}</h6>
        <h6>Phone: {{value.phone}}</h6>
        <h6>Fax: {{value.fax}}</h6>
        <h6>Twitter: @{{value.twitter_id}}</h6>
        <h6>Facebook: http://www.facebook.com/{{value.facebook_id}}</h6>
        <h6>Youtube URL: {{value.youtube_url}}</h6>
        <h6>Bioguide ID: {{value.bioguide_id}}</h6>
        <h6>Votesmart ID: {{value.votesmart_id}}</h6>
    {% endfor %}
    <br>
    {% for key, value in legislators_array.1.10.iteritems %}
        <h6>{{value.firstlast}}</h6>
        <h6>Party: {{value.party}}</h6>
        <h6>Gender: {{value.gender}}</h6>
        <h6>First Elected: {{value.first_elected}}</h6>
        <h6>Website: {{value.website}}</h6>
        <h6>Contact: {{value.webform}}</h6>
        <h6>Office: {{value.congress_office}}</h6>
        <h6>Phone: {{value.phone}}</h6>
        <h6>Fax: {{value.fax}}</h6>
        <h6>Twitter: @{{value.twitter_id}}</h6>
        <h6>Facebook: http://www.facebook.com/{{value.facebook_id}}</h6>
        <h6>Youtube URL: {{value.youtube_url}}</h6>
        <h6>Bioguide ID: {{value.bioguide_id}}</h6>
        <h6>Votesmart ID: {{value.votesmart_id}}</h6>
    {% endfor %}
    <br>
    {% for key, value in legislators_array.1.11.iteritems %}
        <h6>{{value.firstlast}}</h6>
        <h6>Party: {{value.party}}</h6>
        <h6>Gender: {{value.gender}}</h6>
        <h6>First Elected: {{value.first_elected}}</h6>
        <h6>Website: {{value.website}}</h6>
        <h6>Contact: {{value.webform}}</h6>
        <h6>Office: {{value.congress_office}}</h6>
        <h6>Phone: {{value.phone}}</h6>
        <h6>Fax: {{value.fax}}</h6>
        <h6>Twitter: @{{value.twitter_id}}</h6>
        <h6>Facebook: http://www.facebook.com/{{value.facebook_id}}</h6>
        <h6>Youtube URL: {{value.youtube_url}}</h6>
        <h6>Bioguide ID: {{value.bioguide_id}}</h6>
        <h6>Votesmart ID: {{value.votesmart_id}}</h6>
    {% endfor %}
    <br>
    {% for key, value in legislators_array.1.12.iteritems %}
        <h6>{{value.firstlast}}</h6>
        <h6>Party: {{value.party}}</h6>
        <h6>Gender: {{value.gender}}</h6>
        <h6>First Elected: {{value.first_elected}}</h6>
        <h6>Website: {{value.website}}</h6>
        <h6>Contact: {{value.webform}}</h6>
        <h6>Office: {{value.congress_office}}</h6>
        <h6>Phone: {{value.phone}}</h6>
        <h6>Fax: {{value.fax}}</h6>
        <h6>Twitter: @{{value.twitter_id}}</h6>
        <h6>Facebook: http://www.facebook.com/{{value.facebook_id}}</h6>
        <h6>Youtube URL: {{value.youtube_url}}</h6>
        <h6>Bioguide ID: {{value.bioguide_id}}</h6>
        <h6>Votesmart ID: {{value.votesmart_id}}</h6>
    {% endfor %}
    <br>
    {% for key, value in legislators_array.1.13.iteritems %}
        <h6>{{value.firstlast}}</h6>
        <h6>Party: {{value.party}}</h6>
        <h6>Gender: {{value.gender}}</h6>
        <h6>First Elected: {{value.first_elected}}</h6>
        <h6>Website: {{value.website}}</h6>
        <h6>Contact: {{value.webform}}</h6>
        <h6>Office: {{value.congress_office}}</h6>
        <h6>Phone: {{value.phone}}</h6>
        <h6>Fax: {{value.fax}}</h6>
        <h6>Twitter: @{{value.twitter_id}}</h6>
        <h6>Facebook: http://www.facebook.com/{{value.facebook_id}}</h6>
        <h6>Youtube URL: {{value.youtube_url}}</h6>
        <h6>Bioguide ID: {{value.bioguide_id}}</h6>
        <h6>Votesmart ID: {{value.votesmart_id}}</h6>
    {% endfor %}
    <br>
    {% for key, value in legislators_array.1.14.iteritems %}
        <h6>{{value.firstlast}}</h6>
        <h6>Party: {{value.party}}</h6>
        <h6>Gender: {{value.gender}}</h6>
        <h6>First Elected: {{value.first_elected}}</h6>
        <h6>Website: {{value.website}}</h6>
        <h6>Contact: {{value.webform}}</h6>
        <h6>Office: {{value.congress_office}}</h6>
        <h6>Phone: {{value.phone}}</h6>
        <h6>Fax: {{value.fax}}</h6>
        <h6>Twitter: @{{value.twitter_id}}</h6>
        <h6>Facebook: http://www.facebook.com/{{value.facebook_id}}</h6>
        <h6>Youtube URL: {{value.youtube_url}}</h6>
        <h6>Bioguide ID: {{value.bioguide_id}}</h6>
        <h6>Votesmart ID: {{value.votesmart_id}}</h6>
    {% endfor %}
    <br>
    {% for key, value in legislators_array.1.15.iteritems %}
        <h6>{{value.firstlast}}</h6>
        <h6>Party: {{value.party}}</h6>
        <h6>Gender: {{value.gender}}</h6>
        <h6>First Elected: {{value.first_elected}}</h6>
        <h6>Website: {{value.website}}</h6>
        <h6>Contact: {{value.webform}}</h6>
        <h6>Office: {{value.congress_office}}</h6>
        <h6>Phone: {{value.phone}}</h6>
        <h6>Fax: {{value.fax}}</h6>
        <h6>Twitter: @{{value.twitter_id}}</h6>
        <h6>Facebook: http://www.facebook.com/{{value.facebook_id}}</h6>
        <h6>Youtube URL: {{value.youtube_url}}</h6>
        <h6>Bioguide ID: {{value.bioguide_id}}</h6>
        <h6>Votesmart ID: {{value.votesmart_id}}</h6>
    {% endfor %}
    <br>
    {% for key, value in legislators_array.1.16.iteritems %}
        <h6>{{value.firstlast}}</h6>
        <h6>Party: {{value.party}}</h6>
        <h6>Gender: {{value.gender}}</h6>
        <h6>First Elected: {{value.first_elected}}</h6>
        <h6>Website: {{value.website}}</h6>
        <h6>Contact: {{value.webform}}</h6>
        <h6>Office: {{value.congress_office}}</h6>
        <h6>Phone: {{value.phone}}</h6>
        <h6>Fax: {{value.fax}}</h6>
        <h6>Twitter: @{{value.twitter_id}}</h6>
        <h6>Facebook: http://www.facebook.com/{{value.facebook_id}}</h6>
        <h6>Youtube URL: {{value.youtube_url}}</h6>
        <h6>Bioguide ID: {{value.bioguide_id}}</h6>
        <h6>Votesmart ID: {{value.votesmart_id}}</h6>
    {% endfor %}
    <br>
    {% for key, value in legislators_array.1.17.iteritems %}
        <h6>{{value.firstlast}}</h6>
        <h6>Party: {{value.party}}</h6>
        <h6>Gender: {{value.gender}}</h6>
        <h6>First Elected: {{value.first_elected}}</h6>
        <h6>Website: {{value.website}}</h6>
        <h6>Contact: {{value.webform}}</h6>
        <h6>Office: {{value.congress_office}}</h6>
        <h6>Phone: {{value.phone}}</h6>
        <h6>Fax: {{value.fax}}</h6>
        <h6>Twitter: @{{value.twitter_id}}</h6>
        <h6>Facebook: http://www.facebook.com/{{value.facebook_id}}</h6>
        <h6>Youtube URL: {{value.youtube_url}}</h6>
        <h6>Bioguide ID: {{value.bioguide_id}}</h6>
        <h6>Votesmart ID: {{value.votesmart_id}}</h6>
    {% endfor %}
    <br>
    {% for key, value in legislators_array.1.18.iteritems %}
        <h6>{{value.firstlast}}</h6>
        <h6>Party: {{value.party}}</h6>
        <h6>Gender: {{value.gender}}</h6>
        <h6>First Elected: {{value.first_elected}}</h6>
        <h6>Website: {{value.website}}</h6>
        <h6>Contact: {{value.webform}}</h6>
        <h6>Office: {{value.congress_office}}</h6>
        <h6>Phone: {{value.phone}}</h6>
        <h6>Fax: {{value.fax}}</h6>
        <h6>Twitter: @{{value.twitter_id}}</h6>
        <h6>Facebook: http://www.facebook.com/{{value.facebook_id}}</h6>
        <h6>Youtube URL: {{value.youtube_url}}</h6>
        <h6>Bioguide ID: {{value.bioguide_id}}</h6>
        <h6>Votesmart ID: {{value.votesmart_id}}</h6>
    {% endfor %}
    <br>
    {% for key, value in legislators_array.1.19.iteritems %}
        <h6>{{value.firstlast}}</h6>
        <h6>Party: {{value.party}}</h6>
        <h6>Gender: {{value.gender}}</h6>
        <h6>First Elected: {{value.first_elected}}</h6>
        <h6>Website: {{value.website}}</h6>
        <h6>Contact: {{value.webform}}</h6>
        <h6>Office: {{value.congress_office}}</h6>
        <h6>Phone: {{value.phone}}</h6>
        <h6>Fax: {{value.fax}}</h6>
        <h6>Twitter: @{{value.twitter_id}}</h6>
        <h6>Facebook: http://www.facebook.com/{{value.facebook_id}}</h6>
        <h6>Youtube URL: {{value.youtube_url}}</h6>
        <h6>Bioguide ID: {{value.bioguide_id}}</h6>
        <h6>Votesmart ID: {{value.votesmart_id}}</h6>
    {% endfor %}
    <br>
    {% for key, value in legislators_array.1.20.iteritems %}
        <h6>{{value.firstlast}}</h6>
        <h6>Party: {{value.party}}</h6>
        <h6>Gender: {{value.gender}}</h6>
        <h6>First Elected: {{value.first_elected}}</h6>
        <h6>Website: {{value.website}}</h6>
        <h6>Contact: {{value.webform}}</h6>
        <h6>Office: {{value.congress_office}}</h6>
        <h6>Phone: {{value.phone}}</h6>
        <h6>Fax: {{value.fax}}</h6>
        <h6>Twitter: @{{value.twitter_id}}</h6>
        <h6>Facebook: http://www.facebook.com/{{value.facebook_id}}</h6>
        <h6>Youtube URL: {{value.youtube_url}}</h6>
        <h6>Bioguide ID: {{value.bioguide_id}}</h6>
        <h6>Votesmart ID: {{value.votesmart_id}}</h6>
    {% endfor %}
    <br>
    {% for key, value in legislators_array.1.21.iteritems %}
        <h6>{{value.firstlast}}</h6>
        <h6>Party: {{value.party}}</h6>
        <h6>Gender: {{value.gender}}</h6>
        <h6>First Elected: {{value.first_elected}}</h6>
        <h6>Website: {{value.website}}</h6>
        <h6>Contact: {{value.webform}}</h6>
        <h6>Office: {{value.congress_office}}</h6>
        <h6>Phone: {{value.phone}}</h6>
        <h6>Fax: {{value.fax}}</h6>
        <h6>Twitter: @{{value.twitter_id}}</h6>
        <h6>Facebook: http://www.facebook.com/{{value.facebook_id}}</h6>
        <h6>Youtube URL: {{value.youtube_url}}</h6>
        <h6>Bioguide ID: {{value.bioguide_id}}</h6>
        <h6>Votesmart ID: {{value.votesmart_id}}</h6>
    {% endfor %}
    <br>
    {% for key, value in legislators_array.1.22.iteritems %}
        <h6>{{value.firstlast}}</h6>
        <h6>Party: {{value.party}}</h6>
        <h6>Gender: {{value.gender}}</h6>
        <h6>First Elected: {{value.first_elected}}</h6>
        <h6>Website: {{value.website}}</h6>
        <h6>Contact: {{value.webform}}</h6>
        <h6>Office: {{value.congress_office}}</h6>
        <h6>Phone: {{value.phone}}</h6>
        <h6>Fax: {{value.fax}}</h6>
        <h6>Twitter: @{{value.twitter_id}}</h6>
        <h6>Facebook: http://www.facebook.com/{{value.facebook_id}}</h6>
        <h6>Youtube URL: {{value.youtube_url}}</h6>
        <h6>Bioguide ID: {{value.bioguide_id}}</h6>
        <h6>Votesmart ID: {{value.votesmart_id}}</h6>
    {% endfor %}
    <br>
    {% for key, value in legislators_array.1.23.iteritems %}
        <h6>{{value.firstlast}}</h6>
        <h6>Party: {{value.party}}</h6>
        <h6>Gender: {{value.gender}}</h6>
        <h6>First Elected: {{value.first_elected}}</h6>
        <h6>Website: {{value.website}}</h6>
        <h6>Contact: {{value.webform}}</h6>
        <h6>Office: {{value.congress_office}}</h6>
        <h6>Phone: {{value.phone}}</h6>
        <h6>Fax: {{value.fax}}</h6>
        <h6>Twitter: @{{value.twitter_id}}</h6>
        <h6>Facebook: http://www.facebook.com/{{value.facebook_id}}</h6>
        <h6>Youtube URL: {{value.youtube_url}}</h6>
        <h6>Bioguide ID: {{value.bioguide_id}}</h6>
        <h6>Votesmart ID: {{value.votesmart_id}}</h6>
    {% endfor %}
    <br>
    {% for key, value in legislators_array.1.24.iteritems %}
        <h6>{{value.firstlast}}</h6>
        <h6>Party: {{value.party}}</h6>
        <h6>Gender: {{value.gender}}</h6>
        <h6>First Elected: {{value.first_elected}}</h6>
        <h6>Website: {{value.website}}</h6>
        <h6>Contact: {{value.webform}}</h6>
        <h6>Office: {{value.congress_office}}</h6>
        <h6>Phone: {{value.phone}}</h6>
        <h6>Fax: {{value.fax}}</h6>
        <h6>Twitter: @{{value.twitter_id}}</h6>
        <h6>Facebook: http://www.facebook.com/{{value.facebook_id}}</h6>
        <h6>Youtube URL: {{value.youtube_url}}</h6>
        <h6>Bioguide ID: {{value.bioguide_id}}</h6>
        <h6>Votesmart ID: {{value.votesmart_id}}</h6>
    {% endfor %}
    <br>
    {% for key, value in legislators_array.1.25.iteritems %}
        <h6>{{value.firstlast}}</h6>
        <h6>Party: {{value.party}}</h6>
        <h6>Gender: {{value.gender}}</h6>
        <h6>First Elected: {{value.first_elected}}</h6>
        <h6>Website: {{value.website}}</h6>
        <h6>Contact: {{value.webform}}</h6>
        <h6>Office: {{value.congress_office}}</h6>
        <h6>Phone: {{value.phone}}</h6>
        <h6>Fax: {{value.fax}}</h6>
        <h6>Twitter: @{{value.twitter_id}}</h6>
        <h6>Facebook: http://www.facebook.com/{{value.facebook_id}}</h6>
        <h6>Youtube URL: {{value.youtube_url}}</h6>
        <h6>Bioguide ID: {{value.bioguide_id}}</h6>
        <h6>Votesmart ID: {{value.votesmart_id}}</h6>
    {% endfor %}
    <br>
    {% for key, value in legislators_array.1.26.iteritems %}
        <h6>{{value.firstlast}}</h6>
        <h6>Party: {{value.party}}</h6>
        <h6>Gender: {{value.gender}}</h6>
        <h6>First Elected: {{value.first_elected}}</h6>
        <h6>Website: {{value.website}}</h6>
        <h6>Contact: {{value.webform}}</h6>
        <h6>Office: {{value.congress_office}}</h6>
        <h6>Phone: {{value.phone}}</h6>
        <h6>Fax: {{value.fax}}</h6>
        <h6>Twitter: @{{value.twitter_id}}</h6>
        <h6>Facebook: http://www.facebook.com/{{value.facebook_id}}</h6>
        <h6>Youtube URL: {{value.youtube_url}}</h6>
        <h6>Bioguide ID: {{value.bioguide_id}}</h6>
        <h6>Votesmart ID: {{value.votesmart_id}}</h6>
    {% endfor %}
    <br>
    {% for key, value in legislators_array.1.27.iteritems %}
        <h6>{{value.firstlast}}</h6>
        <h6>Party: {{value.party}}</h6>
        <h6>Gender: {{value.gender}}</h6>
        <h6>First Elected: {{value.first_elected}}</h6>
        <h6>Website: {{value.website}}</h6>
        <h6>Contact: {{value.webform}}</h6>
        <h6>Office: {{value.congress_office}}</h6>
        <h6>Phone: {{value.phone}}</h6>
        <h6>Fax: {{value.fax}}</h6>
        <h6>Twitter: @{{value.twitter_id}}</h6>
        <h6>Facebook: http://www.facebook.com/{{value.facebook_id}}</h6>
        <h6>Youtube URL: {{value.youtube_url}}</h6>
        <h6>Bioguide ID: {{value.bioguide_id}}</h6>
        <h6>Votesmart ID: {{value.votesmart_id}}</h6>
    {% endfor %}
    <br>
    {% for key, value in legislators_array.1.28.iteritems %}
        <h6>{{value.firstlast}}</h6>
        <h6>Party: {{value.party}}</h6>
        <h6>Gender: {{value.gender}}</h6>
        <h6>First Elected: {{value.first_elected}}</h6>
        <h6>Website: {{value.website}}</h6>
        <h6>Contact: {{value.webform}}</h6>
        <h6>Office: {{value.congress_office}}</h6>
        <h6>Phone: {{value.phone}}</h6>
        <h6>Fax: {{value.fax}}</h6>
        <h6>Twitter: @{{value.twitter_id}}</h6>
        <h6>Facebook: http://www.facebook.com/{{value.facebook_id}}</h6>
        <h6>Youtube URL: {{value.youtube_url}}</h6>
        <h6>Bioguide ID: {{value.bioguide_id}}</h6>
        <h6>Votesmart ID: {{value.votesmart_id}}</h6>
    {% endfor %}
    <br>
    {% for key, value in legislators_array.1.29.iteritems %}
        <h6>{{value.firstlast}}</h6>
        <h6>Party: {{value.party}}</h6>
        <h6>Gender: {{value.gender}}</h6>
        <h6>First Elected: {{value.first_elected}}</h6>
        <h6>Website: {{value.website}}</h6>
        <h6>Contact: {{value.webform}}</h6>
        <h6>Office: {{value.congress_office}}</h6>
        <h6>Phone: {{value.phone}}</h6>
        <h6>Fax: {{value.fax}}</h6>
        <h6>Twitter: @{{value.twitter_id}}</h6>
        <h6>Facebook: http://www.facebook.com/{{value.facebook_id}}</h6>
        <h6>Youtube URL: {{value.youtube_url}}</h6>
        <h6>Bioguide ID: {{value.bioguide_id}}</h6>
        <h6>Votesmart ID: {{value.votesmart_id}}</h6>
    {% endfor %}
    <br>
    {% for key, value in legislators_array.1.30.iteritems %}
        <h6>{{value.firstlast}}</h6>
        <h6>Party: {{value.party}}</h6>
        <h6>Gender: {{value.gender}}</h6>
        <h6>First Elected: {{value.first_elected}}</h6>
        <h6>Website: {{value.website}}</h6>
        <h6>Contact: {{value.webform}}</h6>
        <h6>Office: {{value.congress_office}}</h6>
        <h6>Phone: {{value.phone}}</h6>
        <h6>Fax: {{value.fax}}</h6>
        <h6>Twitter: @{{value.twitter_id}}</h6>
        <h6>Facebook: http://www.facebook.com/{{value.facebook_id}}</h6>
        <h6>Youtube URL: {{value.youtube_url}}</h6>
        <h6>Bioguide ID: {{value.bioguide_id}}</h6>
        <h6>Votesmart ID: {{value.votesmart_id}}</h6>
    {% endfor %}
    <br>
    {% for key, value in legislators_array.1.31.iteritems %}
        <h6>{{value.firstlast}}</h6>
        <h6>Party: {{value.party}}</h6>
        <h6>Gender: {{value.gender}}</h6>
        <h6>First Elected: {{value.first_elected}}</h6>
        <h6>Website: {{value.website}}</h6>
        <h6>Contact: {{value.webform}}</h6>
        <h6>Office: {{value.congress_office}}</h6>
        <h6>Phone: {{value.phone}}</h6>
        <h6>Fax: {{value.fax}}</h6>
        <h6>Twitter: @{{value.twitter_id}}</h6>
        <h6>Facebook: http://www.facebook.com/{{value.facebook_id}}</h6>
        <h6>Youtube URL: {{value.youtube_url}}</h6>
        <h6>Bioguide ID: {{value.bioguide_id}}</h6>
        <h6>Votesmart ID: {{value.votesmart_id}}</h6>
    {% endfor %}
    <br>
    {% for key, value in legislators_array.1.32.iteritems %}
        <h6>{{value.firstlast}}</h6>
        <h6>Party: {{value.party}}</h6>
        <h6>Gender: {{value.gender}}</h6>
        <h6>First Elected: {{value.first_elected}}</h6>
        <h6>Website: {{value.website}}</h6>
        <h6>Contact: {{value.webform}}</h6>
        <h6>Office: {{value.congress_office}}</h6>
        <h6>Phone: {{value.phone}}</h6>
        <h6>Fax: {{value.fax}}</h6>
        <h6>Twitter: @{{value.twitter_id}}</h6>
        <h6>Facebook: http://www.facebook.com/{{value.facebook_id}}</h6>
        <h6>Youtube URL: {{value.youtube_url}}</h6>
        <h6>Bioguide ID: {{value.bioguide_id}}</h6>
        <h6>Votesmart ID: {{value.votesmart_id}}</h6>
    {% endfor %}
    <br>
    {% for key, value in legislators_array.1.33.iteritems %}
        <h6>{{value.firstlast}}</h6>
        <h6>Party: {{value.party}}</h6>
        <h6>Gender: {{value.gender}}</h6>
        <h6>First Elected: {{value.first_elected}}</h6>
        <h6>Website: {{value.website}}</h6>
        <h6>Contact: {{value.webform}}</h6>
        <h6>Office: {{value.congress_office}}</h6>
        <h6>Phone: {{value.phone}}</h6>
        <h6>Fax: {{value.fax}}</h6>
        <h6>Twitter: @{{value.twitter_id}}</h6>
        <h6>Facebook: http://www.facebook.com/{{value.facebook_id}}</h6>
        <h6>Youtube URL: {{value.youtube_url}}</h6>
        <h6>Bioguide ID: {{value.bioguide_id}}</h6>
        <h6>Votesmart ID: {{value.votesmart_id}}</h6>
    {% endfor %}
    <br>
    {% for key, value in legislators_array.1.34.iteritems %}
        <h6>{{value.firstlast}}</h6>
        <h6>Party: {{value.party}}</h6>
        <h6>Gender: {{value.gender}}</h6>
        <h6>First Elected: {{value.first_elected}}</h6>
        <h6>Website: {{value.website}}</h6>
        <h6>Contact: {{value.webform}}</h6>
        <h6>Office: {{value.congress_office}}</h6>
        <h6>Phone: {{value.phone}}</h6>
        <h6>Fax: {{value.fax}}</h6>
        <h6>Twitter: @{{value.twitter_id}}</h6>
        <h6>Facebook: http://www.facebook.com/{{value.facebook_id}}</h6>
        <h6>Youtube URL: {{value.youtube_url}}</h6>
        <h6>Bioguide ID: {{value.bioguide_id}}</h6>
        <h6>Votesmart ID: {{value.votesmart_id}}</h6>
    {% endfor %}
    <br>
    {% for key, value in legislators_array.1.35.iteritems %}
        <h6>{{value.firstlast}}</h6>
        <h6>Party: {{value.party}}</h6>
        <h6>Gender: {{value.gender}}</h6>
        <h6>First Elected: {{value.first_elected}}</h6>
        <h6>Website: {{value.website}}</h6>
        <h6>Contact: {{value.webform}}</h6>
        <h6>Office: {{value.congress_office}}</h6>
        <h6>Phone: {{value.phone}}</h6>
        <h6>Fax: {{value.fax}}</h6>
        <h6>Twitter: @{{value.twitter_id}}</h6>
        <h6>Facebook: http://www.facebook.com/{{value.facebook_id}}</h6>
        <h6>Youtube URL: {{value.youtube_url}}</h6>
        <h6>Bioguide ID: {{value.bioguide_id}}</h6>
        <h6>Votesmart ID: {{value.votesmart_id}}</h6>
    {% endfor %}
    <br>
    {% for key, value in legislators_array.1.36.iteritems %}
        <h6>{{value.firstlast}}</h6>
        <h6>Party: {{value.party}}</h6>
        <h6>Gender: {{value.gender}}</h6>
        <h6>First Elected: {{value.first_elected}}</h6>
        <h6>Website: {{value.website}}</h6>
        <h6>Contact: {{value.webform}}</h6>
        <h6>Office: {{value.congress_office}}</h6>
        <h6>Phone: {{value.phone}}</h6>
        <h6>Fax: {{value.fax}}</h6>
        <h6>Twitter: @{{value.twitter_id}}</h6>
        <h6>Facebook: http://www.facebook.com/{{value.facebook_id}}</h6>
        <h6>Youtube URL: {{value.youtube_url}}</h6>
        <h6>Bioguide ID: {{value.bioguide_id}}</h6>
        <h6>Votesmart ID: {{value.votesmart_id}}</h6>
    {% endfor %}
    <br>
    {% for key, value in legislators_array.1.37.iteritems %}
        <h6>{{value.firstlast}}</h6>
        <h6>Party: {{value.party}}</h6>
        <h6>Gender: {{value.gender}}</h6>
        <h6>First Elected: {{value.first_elected}}</h6>
        <h6>Website: {{value.website}}</h6>
        <h6>Contact: {{value.webform}}</h6>
        <h6>Office: {{value.congress_office}}</h6>
        <h6>Phone: {{value.phone}}</h6>
        <h6>Fax: {{value.fax}}</h6>
        <h6>Twitter: @{{value.twitter_id}}</h6>
        <h6>Facebook: http://www.facebook.com/{{value.facebook_id}}</h6>
        <h6>Youtube URL: {{value.youtube_url}}</h6>
        <h6>Bioguide ID: {{value.bioguide_id}}</h6>
        <h6>Votesmart ID: {{value.votesmart_id}}</h6>
    {% endfor %}
    <br>
    {% for key, value in legislators_array.1.38.iteritems %}
        <h6>{{value.firstlast}}</h6>
        <h6>Party: {{value.party}}</h6>
        <h6>Gender: {{value.gender}}</h6>
        <h6>First Elected: {{value.first_elected}}</h6>
        <h6>Website: {{value.website}}</h6>
        <h6>Contact: {{value.webform}}</h6>
        <h6>Office: {{value.congress_office}}</h6>
        <h6>Phone: {{value.phone}}</h6>
        <h6>Fax: {{value.fax}}</h6>
        <h6>Twitter: @{{value.twitter_id}}</h6>
        <h6>Facebook: http://www.facebook.com/{{value.facebook_id}}</h6>
        <h6>Youtube URL: {{value.youtube_url}}</h6>
        <h6>Bioguide ID: {{value.bioguide_id}}</h6>
        <h6>Votesmart ID: {{value.votesmart_id}}</h6>
    {% endfor %}
    <br>
    {% for key, value in legislators_array.1.39.iteritems %}
        <h6>{{value.firstlast}}</h6>
        <h6>Party: {{value.party}}</h6>
        <h6>Gender: {{value.gender}}</h6>
        <h6>First Elected: {{value.first_elected}}</h6>
        <h6>Website: {{value.website}}</h6>
        <h6>Contact: {{value.webform}}</h6>
        <h6>Office: {{value.congress_office}}</h6>
        <h6>Phone: {{value.phone}}</h6>
        <h6>Fax: {{value.fax}}</h6>
        <h6>Twitter: @{{value.twitter_id}}</h6>
        <h6>Facebook: http://www.facebook.com/{{value.facebook_id}}</h6>
        <h6>Youtube URL: {{value.youtube_url}}</h6>
        <h6>Bioguide ID: {{value.bioguide_id}}</h6>
        <h6>Votesmart ID: {{value.votesmart_id}}</h6>
    {% endfor %}
    <br>
    {% for key, value in legislators_array.1.40.iteritems %}
        <h6>{{value.firstlast}}</h6>
        <h6>Party: {{value.party}}</h6>
        <h6>Gender: {{value.gender}}</h6>
        <h6>First Elected: {{value.first_elected}}</h6>
        <h6>Website: {{value.website}}</h6>
        <h6>Contact: {{value.webform}}</h6>
        <h6>Office: {{value.congress_office}}</h6>
        <h6>Phone: {{value.phone}}</h6>
        <h6>Fax: {{value.fax}}</h6>
        <h6>Twitter: @{{value.twitter_id}}</h6>
        <h6>Facebook: http://www.facebook.com/{{value.facebook_id}}</h6>
        <h6>Youtube URL: {{value.youtube_url}}</h6>
        <h6>Bioguide ID: {{value.bioguide_id}}</h6>
        <h6>Votesmart ID: {{value.votesmart_id}}</h6>
    {% endfor %}
    <br>
    {% for key, value in legislators_array.1.41.iteritems %}
        <h6>{{value.firstlast}}</h6>
        <h6>Party: {{value.party}}</h6>
        <h6>Gender: {{value.gender}}</h6>
        <h6>First Elected: {{value.first_elected}}</h6>
        <h6>Website: {{value.website}}</h6>
        <h6>Contact: {{value.webform}}</h6>
        <h6>Office: {{value.congress_office}}</h6>
        <h6>Phone: {{value.phone}}</h6>
        <h6>Fax: {{value.fax}}</h6>
        <h6>Twitter: @{{value.twitter_id}}</h6>
        <h6>Facebook: http://www.facebook.com/{{value.facebook_id}}</h6>
        <h6>Youtube URL: {{value.youtube_url}}</h6>
        <h6>Bioguide ID: {{value.bioguide_id}}</h6>
        <h6>Votesmart ID: {{value.votesmart_id}}</h6>
    {% endfor %}
    <br>
    {% for key, value in legislators_array.1.42.iteritems %}
        <h6>{{value.firstlast}}</h6>
        <h6>Party: {{value.party}}</h6>
        <h6>Gender: {{value.gender}}</h6>
        <h6>First Elected: {{value.first_elected}}</h6>
        <h6>Website: {{value.website}}</h6>
        <h6>Contact: {{value.webform}}</h6>
        <h6>Office: {{value.congress_office}}</h6>
        <h6>Phone: {{value.phone}}</h6>
        <h6>Fax: {{value.fax}}</h6>
        <h6>Twitter: @{{value.twitter_id}}</h6>
        <h6>Facebook: http://www.facebook.com/{{value.facebook_id}}</h6>
        <h6>Youtube URL: {{value.youtube_url}}</h6>
        <h6>Bioguide ID: {{value.bioguide_id}}</h6>
        <h6>Votesmart ID: {{value.votesmart_id}}</h6>
    {% endfor %}
    <br>
    {% for key, value in legislators_array.1.43.iteritems %}
        <h6>{{value.firstlast}}</h6>
        <h6>Party: {{value.party}}</h6>
        <h6>Gender: {{value.gender}}</h6>
        <h6>First Elected: {{value.first_elected}}</h6>
        <h6>Website: {{value.website}}</h6>
        <h6>Contact: {{value.webform}}</h6>
        <h6>Office: {{value.congress_office}}</h6>
        <h6>Phone: {{value.phone}}</h6>
        <h6>Fax: {{value.fax}}</h6>
        <h6>Twitter: @{{value.twitter_id}}</h6>
        <h6>Facebook: http://www.facebook.com/{{value.facebook_id}}</h6>
        <h6>Youtube URL: {{value.youtube_url}}</h6>
        <h6>Bioguide ID: {{value.bioguide_id}}</h6>
        <h6>Votesmart ID: {{value.votesmart_id}}</h6>
    {% endfor %}
    <br>
    {% for key, value in legislators_array.1.44.iteritems %}
        <h6>{{value.firstlast}}</h6>
        <h6>Party: {{value.party}}</h6>
        <h6>Gender: {{value.gender}}</h6>
        <h6>First Elected: {{value.first_elected}}</h6>
        <h6>Website: {{value.website}}</h6>
        <h6>Contact: {{value.webform}}</h6>
        <h6>Office: {{value.congress_office}}</h6>
        <h6>Phone: {{value.phone}}</h6>
        <h6>Fax: {{value.fax}}</h6>
        <h6>Twitter: @{{value.twitter_id}}</h6>
        <h6>Facebook: http://www.facebook.com/{{value.facebook_id}}</h6>
        <h6>Youtube URL: {{value.youtube_url}}</h6>
        <h6>Bioguide ID: {{value.bioguide_id}}</h6>
        <h6>Votesmart ID: {{value.votesmart_id}}</h6>
    {% endfor %}
    <br>
    {% for key, value in legislators_array.1.45.iteritems %}
        <h6>{{value.firstlast}}</h6>
        <h6>Party: {{value.party}}</h6>
        <h6>Gender: {{value.gender}}</h6>
        <h6>First Elected: {{value.first_elected}}</h6>
        <h6>Website: {{value.website}}</h6>
        <h6>Contact: {{value.webform}}</h6>
        <h6>Office: {{value.congress_office}}</h6>
        <h6>Phone: {{value.phone}}</h6>
        <h6>Fax: {{value.fax}}</h6>
        <h6>Twitter: @{{value.twitter_id}}</h6>
        <h6>Facebook: http://www.facebook.com/{{value.facebook_id}}</h6>
        <h6>Youtube URL: {{value.youtube_url}}</h6>
        <h6>Bioguide ID: {{value.bioguide_id}}</h6>
        <h6>Votesmart ID: {{value.votesmart_id}}</h6>
    {% endfor %}
    <br>
    {% for key, value in legislators_array.1.46.iteritems %}
        <h6>{{value.firstlast}}</h6>
        <h6>Party: {{value.party}}</h6>
        <h6>Gender: {{value.gender}}</h6>
        <h6>First Elected: {{value.first_elected}}</h6>
        <h6>Website: {{value.website}}</h6>
        <h6>Contact: {{value.webform}}</h6>
        <h6>Office: {{value.congress_office}}</h6>
        <h6>Phone: {{value.phone}}</h6>
        <h6>Fax: {{value.fax}}</h6>
        <h6>Twitter: @{{value.twitter_id}}</h6>
        <h6>Facebook: http://www.facebook.com/{{value.facebook_id}}</h6>
        <h6>Youtube URL: {{value.youtube_url}}</h6>
        <h6>Bioguide ID: {{value.bioguide_id}}</h6>
        <h6>Votesmart ID: {{value.votesmart_id}}</h6>
    {% endfor %}
    <br>
    {% for key, value in legislators_array.1.47.iteritems %}
        <h6>{{value.firstlast}}</h6>
        <h6>Party: {{value.party}}</h6>
        <h6>Gender: {{value.gender}}</h6>
        <h6>First Elected: {{value.first_elected}}</h6>
        <h6>Website: {{value.website}}</h6>
        <h6>Contact: {{value.webform}}</h6>
        <h6>Office: {{value.congress_office}}</h6>
        <h6>Phone: {{value.phone}}</h6>
        <h6>Fax: {{value.fax}}</h6>
        <h6>Twitter: @{{value.twitter_id}}</h6>
        <h6>Facebook: http://www.facebook.com/{{value.facebook_id}}</h6>
        <h6>Youtube URL: {{value.youtube_url}}</h6>
        <h6>Bioguide ID: {{value.bioguide_id}}</h6>
        <h6>Votesmart ID: {{value.votesmart_id}}</h6>
    {% endfor %}
    <br>
    {% for key, value in legislators_array.1.48.iteritems %}
        <h6>{{value.firstlast}}</h6>
        <h6>Party: {{value.party}}</h6>
        <h6>Gender: {{value.gender}}</h6>
        <h6>First Elected: {{value.first_elected}}</h6>
        <h6>Website: {{value.website}}</h6>
        <h6>Contact: {{value.webform}}</h6>
        <h6>Office: {{value.congress_office}}</h6>
        <h6>Phone: {{value.phone}}</h6>
        <h6>Fax: {{value.fax}}</h6>
        <h6>Twitter: @{{value.twitter_id}}</h6>
        <h6>Facebook: http://www.facebook.com/{{value.facebook_id}}</h6>
        <h6>Youtube URL: {{value.youtube_url}}</h6>
        <h6>Bioguide ID: {{value.bioguide_id}}</h6>
        <h6>Votesmart ID: {{value.votesmart_id}}</h6>
    {% endfor %}
    <br>
    {% for key, value in legislators_array.1.49.iteritems %}
        <h6>{{value.firstlast}}</h6>
        <h6>Party: {{value.party}}</h6>
        <h6>Gender: {{value.gender}}</h6>
        <h6>First Elected: {{value.first_elected}}</h6>
        <h6>Website: {{value.website}}</h6>
        <h6>Contact: {{value.webform}}</h6>
        <h6>Office: {{value.congress_office}}</h6>
        <h6>Phone: {{value.phone}}</h6>
        <h6>Fax: {{value.fax}}</h6>
        <h6>Twitter: @{{value.twitter_id}}</h6>
        <h6>Facebook: http://www.facebook.com/{{value.facebook_id}}</h6>
        <h6>Youtube URL: {{value.youtube_url}}</h6>
        <h6>Bioguide ID: {{value.bioguide_id}}</h6>
        <h6>Votesmart ID: {{value.votesmart_id}}</h6>
    {% endfor %}
    <br>
    {% for key, value in legislators_array.1.50.iteritems %}
        <h6>{{value.firstlast}}</h6>
        <h6>Party: {{value.party}}</h6>
        <h6>Gender: {{value.gender}}</h6>
        <h6>First Elected: {{value.first_elected}}</h6>
        <h6>Website: {{value.website}}</h6>
        <h6>Contact: {{value.webform}}</h6>
        <h6>Office: {{value.congress_office}}</h6>
        <h6>Phone: {{value.phone}}</h6>
        <h6>Fax: {{value.fax}}</h6>
        <h6>Twitter: @{{value.twitter_id}}</h6>
        <h6>Facebook: http://www.facebook.com/{{value.facebook_id}}</h6>
        <h6>Youtube URL: {{value.youtube_url}}</h6>
        <h6>Bioguide ID: {{value.bioguide_id}}</h6>
        <h6>Votesmart ID: {{value.votesmart_id}}</h6>
    {% endfor %}
    <br>
    {% for key, value in legislators_array.1.51.iteritems %}
        <h6>{{value.firstlast}}</h6>
        <h6>Party: {{value.party}}</h6>
        <h6>Gender: {{value.gender}}</h6>
        <h6>First Elected: {{value.first_elected}}</h6>
        <h6>Website: {{value.website}}</h6>
        <h6>Contact: {{value.webform}}</h6>
        <h6>Office: {{value.congress_office}}</h6>
        <h6>Phone: {{value.phone}}</h6>
        <h6>Fax: {{value.fax}}</h6>
        <h6>Twitter: @{{value.twitter_id}}</h6>
        <h6>Facebook: http://www.facebook.com/{{value.facebook_id}}</h6>
        <h6>Youtube URL: {{value.youtube_url}}</h6>
        <h6>Bioguide ID: {{value.bioguide_id}}</h6>
        <h6>Votesmart ID: {{value.votesmart_id}}</h6>
    {% endfor %}
    <br>
    {% for key, value in legislators_array.1.52.iteritems %}
        <h6>{{value.firstlast}}</h6>
        <h6>Party: {{value.party}}</h6>
        <h6>Gender: {{value.gender}}</h6>
        <h6>First Elected: {{value.first_elected}}</h6>
        <h6>Website: {{value.website}}</h6>
        <h6>Contact: {{value.webform}}</h6>
        <h6>Office: {{value.congress_office}}</h6>
        <h6>Phone: {{value.phone}}</h6>
        <h6>Fax: {{value.fax}}</h6>
        <h6>Twitter: @{{value.twitter_id}}</h6>
        <h6>Facebook: http://www.facebook.com/{{value.facebook_id}}</h6>
        <h6>Youtube URL: {{value.youtube_url}}</h6>
        <h6>Bioguide ID: {{value.bioguide_id}}</h6>
        <h6>Votesmart ID: {{value.votesmart_id}}</h6>
    {% endfor %}
    <br>
    {% for key, value in legislators_array.1.53.iteritems %}
        <h6>{{value.firstlast}}</h6>
        <h6>Party: {{value.party}}</h6>
        <h6>Gender: {{value.gender}}</h6>
        <h6>First Elected: {{value.first_elected}}</h6>
        <h6>Website: {{value.website}}</h6>
        <h6>Contact: {{value.webform}}</h6>
        <h6>Office: {{value.congress_office}}</h6>
        <h6>Phone: {{value.phone}}</h6>
        <h6>Fax: {{value.fax}}</h6>
        <h6>Twitter: @{{value.twitter_id}}</h6>
        <h6>Facebook: http://www.facebook.com/{{value.facebook_id}}</h6>
        <h6>Youtube URL: {{value.youtube_url}}</h6>
        <h6>Bioguide ID: {{value.bioguide_id}}</h6>
        <h6>Votesmart ID: {{value.votesmart_id}}</h6>
    {% endfor %}
    <br>
    {% for key, value in legislators_array.1.54.iteritems %}
        <h6>{{value.firstlast}}</h6>
        <h6>Party: {{value.party}}</h6>
        <h6>Gender: {{value.gender}}</h6>
        <h6>First Elected: {{value.first_elected}}</h6>
        <h6>Website: {{value.website}}</h6>
        <h6>Contact: {{value.webform}}</h6>
        <h6>Office: {{value.congress_office}}</h6>
        <h6>Phone: {{value.phone}}</h6>
        <h6>Fax: {{value.fax}}</h6>
        <h6>Twitter: @{{value.twitter_id}}</h6>
        <h6>Facebook: http://www.facebook.com/{{value.facebook_id}}</h6>
        <h6>Youtube URL: {{value.youtube_url}}</h6>
        <h6>Bioguide ID: {{value.bioguide_id}}</h6>
        <h6>Votesmart ID: {{value.votesmart_id}}</h6>
    {% endfor %}
    <br>
    {% for key, value in legislators_array.1.55.iteritems %}
        <h6>{{value.firstlast}}</h6>
        <h6>Party: {{value.party}}</h6>
        <h6>Gender: {{value.gender}}</h6>
        <h6>First Elected: {{value.first_elected}}</h6>
        <h6>Website: {{value.website}}</h6>
        <h6>Contact: {{value.webform}}</h6>
        <h6>Office: {{value.congress_office}}</h6>
        <h6>Phone: {{value.phone}}</h6>
        <h6>Fax: {{value.fax}}</h6>
        <h6>Twitter: @{{value.twitter_id}}</h6>
        <h6>Facebook: http://www.facebook.com/{{value.facebook_id}}</h6>
        <h6>Youtube URL: {{value.youtube_url}}</h6>
        <h6>Bioguide ID: {{value.bioguide_id}}</h6>
        <h6>Votesmart ID: {{value.votesmart_id}}</h6>
    {% endfor %}
    <br>
    {% for key, value in legislators_array.1.56.iteritems %}
        <h6>{{value.firstlast}}</h6>
        <h6>Party: {{value.party}}</h6>
        <h6>Gender: {{value.gender}}</h6>
        <h6>First Elected: {{value.first_elected}}</h6>
        <h6>Website: {{value.website}}</h6>
        <h6>Contact: {{value.webform}}</h6>
        <h6>Office: {{value.congress_office}}</h6>
        <h6>Phone: {{value.phone}}</h6>
        <h6>Fax: {{value.fax}}</h6>
        <h6>Twitter: @{{value.twitter_id}}</h6>
        <h6>Facebook: http://www.facebook.com/{{value.facebook_id}}</h6>
        <h6>Youtube URL: {{value.youtube_url}}</h6>
        <h6>Bioguide ID: {{value.bioguide_id}}</h6>
        <h6>Votesmart ID: {{value.votesmart_id}}</h6>
    {% endfor %}
    <br>
    {{ legislators_array.1 }}
</div>
{% endblock %}