{% extends 'base.html' %}

{% block title %}
<title>Home</title>
{% endblock%}


{% block content %}
<a href="/candidate_summary">Candidate Summary</a>
<br>
<a href="/candidate_contributions">See Candidate Contributions</a>
<br>
<a href="/candidate_summary">See Candidate Summary</a>
<br>
<a href="/expenditures">Independent Expenditures</a>
<br>
<div class="container">
    <h1>Open Secrets Political Spending API</h1>
    <h2>California Legislators</h2>
    {% for legislator in legislators_array %}
        <h2>{{legislator.firstlast}}</h2>
        <h6>Party: {{legislator.party}}</h6>
        <h6>Gender: {{legislator.gender}}</h6>
        <h6>First Elected: {{legislator.first_elected}}</h6>
        <h6>Website: <a href="{{legislator.website}}">{{legislator.website}}</a></h6>
        <h6>Website: <a href="mailto:{{legislator.webform}}">{{legislator.webform}}</a></h6>
        <h6>Office: {{legislator.congress_office}}</h6>
        <h6>Phone: {{legislator.phone}}</h6>
        <h6>Fax: {{legislator.fax}}</h6>
        <h6>Twitter: @{{legislator.twitter_id}}</h6>
        <h6>Facebook: http://www.facebook.com/{{legislator.facebook_id}}</h6>
        <h6>Youtube URL: {{legislator.youtube_url}}</h6>
        <h6>Bioguide ID: {{legislator.bioguide_id}}</h6>
        <h6>Votesmart ID: {{legislator.votesmart_id}}</h6>
        <br>
    {% endfor %}
</div>
{% endblock %}