body{
    background-color: #003366;
    color:#CC0033;
}

.container{
     margin-top: 10px;
     background-color: #CC0033;;
     color: black;
     border: 2px solid white;
     border-radius: 10px;
     margin-bottom: 10px;
}

a{
    color: white;
}